@inherits LayoutComponentBase
<RadzenLayout Style="height: 99vh">
    <RadzenHeader Style="min-height:2.5rem">
        <RadzenRow>
            <RadzenColumn Size="2">
                <RadzenButton Variant="Variant.Text" Text="Reset" Click="Reset" Size="ButtonSize.Small" Style="margin-top:.5rem"></RadzenButton>
            </RadzenColumn>
            <RadzenColumn Size="8">
                <RadzenText Style="margin-top:4px" TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH6" Text="PromptFlow Evals as SK Plugin Demo"></RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="2" Style="justify-content:end; justify-items:end">
                <RadzenLink Style="width:32px; height:32px; margin-left:auto; margin-right:4px; display:block" Path="https://github.com/HillPhelmuth/PromptFlowEvalsAsPlugins" Target="_blank">
                    <RadzenImage Style="width:32px; height:32px" Path="github-mark.svg"></RadzenImage>
                </RadzenLink>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Style="padding:0">
       @Body
    </RadzenBody>
</RadzenLayout>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>